<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="downloadDir" value= "C:\spectreDownload\files"/>
    <add key="logFile" value= "C:\spectreDownload\log.txt"/>

  </appSettings>
</configuration>